{% extends 'base.html.twig' %}

{% block title %}Create Income{% endblock title %}

{% block body %}
    <h1>Create Income</h1>

    {{ include('incomes/_form.html.twig') }}
{% endblock body %}
