{% extends 'base.html.twig' %}

{% block title %}Update Income{% endblock title %}

{% block body %}
    <h1>Update Income</h1>

    {{ include('incomes/_form.html.twig') }}
{% endblock body %}
