.navbar {
  height: 100vh;
  width: rem(250);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

[data-mantine-color-scheme='dark'] .navbar {
  background-color: var(--mantine-color-dark-5); /* Couleur de fond pour le mode sombre */
}

[data-mantine-color-scheme='light'] .navbar {
  background-color: var(--mantine-color-white); /* Couleur de fond pour le mode clair */
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 4);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
  margin-top: var(--mantine-spacing-xs);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: var(--mantine-color-blue-light-color);

    .linkIcon {
      color: var(--mantine-color-blue-light-color);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);

      .linkIcon {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-blue-light-color);
  background-color: var(--mantine-color-blue-light);
  padding: rem(5px);
  border-radius: 5px;
  margin-right: var(--mantine-spacing-sm);
  width: rem(30px);
  height: rem(30px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
