{% extends 'base.html.twig' %}

{% block title %}Create Charge{% endblock title %}

{% block body %}
    <h1>Create Charge</h1>

    {{ include('charges/_form.html.twig') }}
{% endblock body %}
