{% extends 'base.html.twig' %}

{% block title %}Create Expense{% endblock title %}

{% block body %}
    <h1>Create Expense</h1>

    {{ include('expenses/_form.html.twig') }}
{% endblock body %}
