{% extends 'base.html.twig' %}

{% block title %}Get Expenses{% endblock title %}

{% block body %}
    <h1>Get Expenses</h1>

    {% for expense in expenses %}
        <p>{{ expense.id }}</p>
        <p>{{ expense.amount }}</p>
    {% endfor %}
{% endblock body %}
