.title {
  transform: translateY(0.33rem);
}

.divIconBlue {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: var(--mantine-color-blue-light-color);

    .iconBlue {
      color: var(--mantine-color-blue-light-color);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);

      .iconBlue {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.iconBlue {
  color: var(--mantine-color-blue-light-color);
  background-color: var(--mantine-color-blue-light);
  padding: rem(5px);
  border-radius: 5px;
  width: rem(30px);
  height: rem(30px);
}

.divIconGreen {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: var(--mantine-color-green-light-color);

    .iconGreen {
      color: var(--mantine-color-green-light-color);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-green-light);
      color: var(--mantine-color-green-light-color);

      .iconGreen {
        color: var(--mantine-color-green-light-color);
      }
    }
  }
}

.iconGreen {
  color: var(--mantine-color-green-light-color);
  background-color: var(--mantine-color-green-light);
  padding: rem(5px);
  border-radius: 5px;
  width: rem(30px);
  height: rem(30px);
}

.divIconRed {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: var(--mantine-color-red-light-color);

    .iconRed {
      color: var(--mantine-color-red-light-color);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-red-light);
      color: var(--mantine-color-red-light-color);

      .iconRed {
        color: var(--mantine-color-red-light-color);
      }
    }
  }
}

.iconRed {
  color: var(--mantine-color-red-light-color);
  background-color: var(--mantine-color-red-light);
  padding: rem(5px);
  border-radius: 5px;
  width: rem(30px);
  height: rem(30px);
}
