.linkItem {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-blue-light-color);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
  margin-top: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-blue-light);
  width: rem(80px);
  transform: translateY(0.33rem);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    color: var(--mantine-color-blue-light-color);

    .linkIcon {
      color: var(--mantine-color-blue-light-color);
    }
  }
}

.linkIcon {
  color: var(--mantine-color-blue-light-color);
  padding: rem(2.5);
}
