.divider {
  width: 100vh;
  left: 0;
  position: absolute;
  color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.categoryName {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.errorCategory {
  position: absolute;
  color: #f87171;
  top: 65%;
  left: 0;
  font-size: 0.75rem;
}

.budgetLine {
  display: grid;
  gap: 1rem; /* Adjust gap as needed */
  align-items: center;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.error {
  position: absolute;
  color: #f87171;
  top: 100%;
  left: 0;
  font-size: 0.75rem;
}

.removeBudgetLineIcon {
  cursor: pointer;
  position: absolute;
  margin-left: auto;
  transform: translateY(0.15rem);
  color: #000;
}

.removeBudgetLineIcon:hover {
  color: #f87171;
}

.shadowButton {
  box-shadow: var(--mantine-shadow-sm);
}

.formButton:hover {
  background-color: var(--mantine-color-gray-1);
}
