<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mybudget{% endblock title %}</title>
        <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no shrink-to-fit=no"
        />
        <link rel="manifest" href="/manifest.json" />
        <link rel="icon" href="/favicon.ico" />
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock stylesheets %}
    </head>
    <body>
        {% block body %}
            <div id="root"></div>
        {% endblock body %}
    </body>
    {{ vite_entry_script_tags('app', { dependency: 'react' }) }}
</html>
